.hints {
  & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 385px;
    border-radius: 24px;
    border: 1px solid #edf0f2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 16px 40px #7090b033;
    background-color: #fff;
  }
  @media (max-width: 500px) {
    & {
      width: 250px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    border: 13px solid transparent;
    border-left-color: white;
    @media (max-width: 991px) {
      & {
        border-left-color: transparent;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top-color: white;
      }
    }
  }
  .spans {
    & {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
    }
    span {
      display: block;
      width: 77px;
      height: 4px;
      border-radius: 10px;
      background-color: #edf0f2;
    }
  }
  .spans + span {
    font-size: 14px;
    font-weight: 400;
    color: #101218;
  }
  ul {
    & {
      margin: 0;
      padding: 0;
    }
    li {
      & {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 8px;
      }
      span {
        & {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: white;
          margin-right: 8px;
        }
        i {
          font-size: 10px;
        }
      }
    }
  }
  p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
  }
}

// styling the li
.pass {
  color: #64748b;
  span {
    background-color: #00e063;
  }
}
.fail {
  color: #101218;
  span {
    color: #e85656 !important;
    border: 1px solid #e85656;
  }
}

// style the spans based on password strength
.bad {
  span:nth-of-type(1) {
    background-color: #e85656 !important;
  }
}
.medium {
  span:nth-of-type(1),
  span:nth-of-type(2) {
    background-color: #ffc000 !important;
  }
}
.good {
  span:not(:last-of-type) {
    background-color: #00e063 !important;
  }
}
.very-good {
  span {
    background-color: #00e063 !important;
  }
}
