<app-header /> <router-outlet />
<p-toast
  [breakpoints]="{
    'calc(676rem / 16)': { width: '95%', right: '2.5%', left: '2.5%' }
  }"
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'800ms'"
  [hideTransitionOptions]="'800ms'"
  [showTransformOptions]="'translateX(100%)'"
/>
<!-- <app-header /> <router-outlet /> <p-toast position="top-right"> </p-toast> -->

<!-- <app-company-overview></app-company-overview> -->
<!-- <app-company-card></app-company-card> -->
<!-- <app-head-of-company></app-head-of-company> -->
<!-- <app-company-details></app-company-details> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-nav-bar></app-nav-bar> -->
